name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install deps
      run: sudo apt-get update && sudo apt-get install -y build-essential cmake

    - name: Configure CMake
      run: cmake -B build

    - name: Build
      run: cmake --build build

    - name: Format check
      run: ./tools/check-format.sh

    - name: Run tests
      run: ctest --test-dir build --output-on-failure